.header {
  height: 10%;
  background-color: #ffc600;
  color: white;
  border: .01em solid blue;
}

.header-tabs > li {
  background-color: black;
  display: inline-block;
  width: 25%;
  margin: 0 auto;
  text-align: center;
}

li > a {
  color: white;
}

body {
  width: 95%;
  height: 500px;
  margin: 2px auto;
}

.user-data {
  width: 25%;
  padding: 30px 10px;
  border: .01em solid grey;
  list-style-type: none;
}
